node_modules/
.next/
out/
build/
dist/
/tmp
.temp
.tmp

.env
.env.local
.env.development
.env.test
.env.production
.env.*.local

*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
lerna-debug.log*

.DS_Store
.vscode/
.idea/

# Coverage
coverage/
.next-types/
next-env.d.ts

.vercel
